body {
    max-width: 800px;
}

pre {
    background-color: #DDD;
}

h1 {
    font-size: 2em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    margin-right: 0.2em;
    display: inline;
}